@media (min-width: 992px){
	html{
		font-size: 16px;
	}
	.title-text-p {
		padding: 0px 8.688rem;
	}
}
@media (max-width: 991px){
	.title-text-p {
		padding: 0px 2.5rem;
	}
}
@media (max-width: 767px){
	.title-text-p {
		padding: 0px 0.5rem;
	}
}